<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Quotes & Efficiency</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/to-do-list.js"></script>
  <link rel="stylesheet" href="css/to-do-list.css">
  <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
  <script src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
  <script>


  </script>
</head>

<body>

  <div class="box" id="heading">

    <h1>Good morning.</h1>
    <p class="headingText">It's <span class="dateTime"></span>.
      <br /> The temperature in <%= cityName %> is <%= temperature %> degrees Celcius.
      <br /> The weather is currently <%= weather %>.
      <br /> <img src=<%= imgURL %>>
    </p>

  </div>



  <div class="messageBox">
    <h3>To start, please enter your email.</h3>
    <form class="loginpage" action="/login" method="post">
      <input class="emailInput" type="email" name="emailAddr" placeholder="Email Address" autofocus required>
        <button class="quoteButton login" type="submit">Start My List</button>
    </form>
    <p id="noworry">Don't worry, you won't receive any spam from me. :)</p>
  </div>




  <div class="buttonBox">
    <button class="buttons quoteButton" id="flip" type="submit">Time For Some Celebrity Quotes!</button>
    <div id="panel">
      <p id="quotes">
        You cannot get through a single day without having an impact on the world around you. What you do makes a difference, and you have to decide what kind of difference you want to make.
        <p id="author">- Jane Goodall</p>
      </p>
    </div>
    <form class="buttons" action="/list" method="post" target="_blank">
      <button class="quoteButton" type="submit" name="button" value="signup">Sign Me Up For More Celebrity Quotes!</button>
    </form>
  </div>
</body>
<footer>&copy Emily Huang 2020</footer>

</html>
